* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.singleArtist,
.singleLink {
  height: 70px;
  width: 310px;
  border-radius: 7px;
  margin: 11px;
  padding: 10px;
  color: rgb(207, 207, 207);
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.singleArtist:hover {
  background-color: #af0404;
  color: #eee;
}

.artistImg {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-left: 5px;
}

.singleArtist h4 {
  margin-left: 20px;
}

.singleLink {
  text-decoration: none;
  color: inherit;
}