* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../../assets/heroSmall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* opacity: 0.5; */
}

.searchContainer {
  width: 100%;
  margin: 50px 0;
  text-align: center;
  /* margin: auto; */
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
  display: flex;
}

.heroImg {
  width: 100%;
}

.heroCta {
  width: 50%;
  margin-left: auto;
  padding: 100px 100px 0 0;
  display: flex;
  text-align: right;
  flex-direction: column;
  /* justify-content: center; */
}

.heroCta h1 {
  font-size: 64px;
  color: beige;
}

.popGroup {
  background-color: inherit;
  margin-top: 30px;
  width: 100%;
}

.popHeader {
  padding-top: 15px;
  width: 100%;
}
.popHeader h2 {
  font-size: 35px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}

.popitems {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.popartists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favBox {
  height: 200px;
  margin: 30px;
  background-image: url("../../assets/fav2.jpg");
  background-size: cover;
  background-position: 0% 28%;
  display: flex;
  align-items: center;
}

.favBoxIcons,
.favBoxText {
  width: 50%;
}

.favBoxText {
  text-align: right;
  margin-right: 50px;
}

.favBoxText h2 {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.favBoxCta button {
  outline: none;
  border: 2px solid transparent;
  margin-left: 25px;
  padding: 7px 25px;
  cursor: pointer;
}

.favBoxCta button:hover {
  border: 2px solid black;
}
