* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  padding: 10px 15%;
  background-color: rgb(13, 12, 63);
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-decoration: none;
}

ul {
  margin: 0 auto;
}

.links {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
}

.navauth {
  display: flex;
  align-items: center;
}

.navauth button {
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-left: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.navauth button:hover {
  color: rgb(13, 12, 63);
  font-weight: 700;
}

.authprofile {
  display: flex;
  align-items: center;
}

.profiletext {
  color: #fff;
  text-align: right;
  letter-spacing: 0.5px;
}

.profiletext p {
  font-size: 11px;
  margin-top: 5px;
}

.profileimg {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.profileimg img {
  height: 100%;
}
