* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.singleAlbum {
  height: 70px;
  width: 310px;
  border-radius: 7px;
  margin: 11px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.singleAlbum:hover {
  background-color: #af0404;
  color: #eee;
}

.albumImg {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-left: 5px;
}

.albumInfo {
  text-align: left;
  margin-left: 20px;
}
